<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <span class="logo-text">
                        <i class="fa fa-address-card"></i> RegFormProject
                    </span>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <span class="navbar-item">
                        <a class="button is-white is-outlined" href="{{ hostWithScheme }}/">
                            <span class="icon">
                                <i class="fa fa-home"></i>
                            </span>
                            <span>{{ interface["header.homepage_button"] }}</span>
                        </a>
                    </span>
                    <span class="navbar-item">
                        <a class="button is-white is-outlined" href="{{ hostWithScheme }}/registration">
                            <span class="icon">
                                <i class="fa fa-users"></i>
                            </span>
                            <span>{{ interface["header.sign_up_button"] }}</span>
                        </a>
                    </span>
                    <span class="navbar-item">
                        <a class="button is-white is-outlined" href="{{ hostWithScheme }}/login">
                            <span class="icon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <span>{{ interface["header.sign_in_button"] }}</span>
                        </a>
                    </span>
                    <span class="navbar-item">
                        <a class="button is-white is-outlined" href="{{ hostWithScheme }}/about">
                            <span class="icon">
                                <i class="fa fa-book"></i>
                            </span>
                            <span>{{ interface["header.about_button"] }}</span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</div>